/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(85%, 53%, 48%, 1);
$color3: hsla(207%, 8%, 23%, 1);
$color4: hsla(205%, 24%, 27%, 1);
$color5: hsla(32%, 93%, 56%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(132, 186, 57, 1);
$color3: rgba(53, 58, 62, 1);
$color4: rgba(53, 72, 86, 1);
$color5: rgba(247, 150, 39, 1);

$logo: #3dbb3d;
$gray: #777777;
$black: #070707;
$green: #7ed386;
$aqua: #3fb6a8;

$olive: #558b2f;
$pale-olive:#dcedc8;
$whitish-olive:#bae092;

$white: #ffffff;
$white-light:#dcedc8;



$royalBlue:#05426e;
$light-blue:#39739d;
// $royalBlue: #263850;
$pale-blue: #e1ecf4;
$whitish-blue:#bcd9ee;

$light-ash: #6a737c;
$pale-ash: #e4e6e8;
$whitish-ash: #d4d7da;
$dark-ashe: #a8a8a8;
$darker-ash: #646464;

$royalYellow: #ffca22;

$politeBlue: #364657;

$primaryColor: $royalBlue;
$primaryTextColor: $white;
$primaryDimTextColor: $gray;
$primarySpecialTextColor: $royalYellow;
$primaryContainerColor: $white;
$primaryInputElementColor: #3498db;
$primaryFooterColor: $white;
$headingColor: #3c78d8;
$borderBelowColor: #e1ecf4;

$primaryColorDarker: rgba(54, 70, 87, 0.95);
$greyText: rgba(0, 0, 0, 0.68);
$greyBackground: rgba(0, 0, 0, 0.05);
$greyBlack : #333;
$winner: #f0ad4e;