*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;
}

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.42857143;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
}

li,
button {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: $headingColor;
}