.heading__main-projects {
    margin: 0 0;
    font-size: 2.1rem;

    a {
        transition: all 0.3s ease 0s;
        font-family: "Open Sans", sans-serif;
        font-size: 1.68rem;
        font-weight: 700;
        line-height: 150%;

        &:hover {
            border-bottom: 1px solid $royalBlue;
            color: $royalBlue;
        }

    }

}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project__article {
    margin: 0 0;
}

.margin__bottom {
    margin-bottom: 0.5rem;
}



.project__img {
    width: 1.3rem;
    height: auto;
    margin-right: 0.4rem;
}

.col__right-two-part {

    @include for-desktop-up {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @include for-tablet-landscape-up {
        flex: 0 0 80%;
        width: 80%;
    }

}

.space__between {
    padding-right: 2rem;
    margin-bottom: 1.13rem;
}