/* ------------------------------------------
 *  Responsive Grid Media Queries For Container - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
//  @import '../abstracts/mixins';

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-phone-only {
    max-width: 540px;
  }

  @include for-tablet-portrait-up {
    max-width: 720px;
  }

  @include for-tablet-landscape-up {
    max-width: 960px;
  }

  @include for-desktop-up {
    max-width: 1140px;
  }

}